.chart-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.event-line {
  display: flex;
  gap: 4px;
  width: 100%; /* From container */
}

.event {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* show "..." when text is too long */
  text-align: center;
  /* The with is inline because it is dynamic based on duration*/
}
.event-tooltip-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.event-tooltip-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.gap-event {
  opacity: 0;
}

.axis {
  position: relative;
  width: 100%;
  height: 40px; /* Adjust as needed */
  margin-bottom: 20px;
}

.axis-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid #000;
}

.axis-marker {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #000; /* Red marker */
  top: calc(50% - 5px);
}
